.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
}

.left-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.left-nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.options {
  display: flex;
  column-gap: 32px;  
  font-size: 18px;
}

.option {
    width: 100px;
    padding: 8px 4px;
    border: 1px solid #000;
}

.option:hover {
    width: 100px;
    padding: 8px 4px;
    background-color: #000;
    color: #FFF;
    transition: 0.2s ease-in;
    border: 1px solid #000;
}

.cart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cart:hover .cart-icon {
    animation: shake 1s ease-in;
}

@keyframes shake {
    0% { transform:  rotate(0deg); }
    10% { transform: rotate(-5deg); }
    20% { transform: rotate(5deg); }
    30% { transform: rotate(0deg); }
    50% { transform: rotate(-5deg); }
    60% { transform: rotate(0deg); }
    80% { transform: rotate(5deg); }
    100% { transform: rotate(0deg); }
}
