<div class="container">
    <div class="left-nav">
        <a [routerLink]="'/'">
            <ipi-img [src]="'assets/img/dripnat.png'" [ariaLabel]="'Dripnat logo'"></ipi-img>
        </a>
    
        <div class="options">
            @for (item of navigationOptions; track $index) {
                <a class="option"
                    [routerLink]="item.path"
                    [class.active]="activeOptionIndex === $index"
                    [state]="{ ind: $index, scrollTo: item.scrollTo ? item.scrollTo : null }">
                    {{ item.label }}
                </a>
            }
        </div>
    </div>

    <div class="right-nav">
        <div class="cart" (click)="cartService.openCart()">
            <div class="cart-icon">
                <ipi-img [src]="'assets/icons/cart.svg'" [ariaLabel]="'Cart icon'"></ipi-img>
                @if (cartCount > 0) {
                    <div class="cart-count" [@countAnimation]="cartCount">
                        {{ cartCount }}
                    </div>
                }
            </div>
        </div>
    </div>
</div>
