<div class="backdrop"></div>

<div class="wrapper">
    <div class="container" [@openCloseAnimation]="isOpen">
        <div class="header">
            @if (title) {
                <span class="title">
                    <ng-container [ngTemplateOutlet]="title"></ng-container>
                </span>
            }
            
            @if (description) {
                <span class="description">
                    <ng-container [ngTemplateOutlet]="description"></ng-container>
                </span>
            }
        </div>

        @if (content) {
            <div class="content">
                <ng-container [ngTemplateOutlet]="content"></ng-container>
            </div>
        }

        @if (actions) {
            <div class="actions">
                <ng-container [ngTemplateOutlet]="actions"></ng-container>
            </div>
        }
    </div>
</div>
