:host {
    display: block;
}

table {
    width: 100%;
    padding: 6px;
    border-collapse: separate;
}

.calendar-table-header-divider {
    border-bottom: 1px solid var(--ipi-calendar-year-view-table-header-border-bottom-color, #C6C6C6);
}
